{% extends "./plantilla.html" %}
{% load static %} <!--INCLUIDO EL 25 DE JUNIO PARA LLAMAR A LAS IMAGENES DESDE LAS CARPETAS-->
{% block body %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--COLOCAR UN CARRUSEL PONER MISION Y VISION-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/banner_tarantino1.jfif' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banner_tarantino2.jfif' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/quentin_tarantino.jfif' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://wegeekgirls.files.wordpress.com/2015/04/rambo-2-banner-1.jpg?w=584" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
    </div>
    <br>
    <h1 class="text-center">Cine para todos</h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="text-center">Misión</h3>
                <p class="text-center">Nuestra misión es brindar experiencias cinematográficas excepcionales que inspiren, entretengan y enriquezcan la vida de nuestra comunidad. Nos esforzamos por ofrecer un ambiente acogedor, con tecnología de punta y un servicio al cliente inigualable, para que cada visita al cine sea memorable.</p>
            </div>
            <div class="col-6">
                <h3 class="text-center">Visión</h3>
                <p class="text-center">Nuestra visión es ser el cine preferido de nuestra comunidad, reconocido por la excelencia en la proyección de películas, innovación en entretenimiento y compromiso con la cultura. Aspiramos a crecer y evolucionar continuamente, adoptando nuevas tecnologías y tendencias, mientras mantenemos un firme compromiso con la sostenibilidad y la inclusión.</p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <!--INCLUIR LA IMAGEN DESDE LA CARPETA-->
        <img src="{% static 'img/quentin_tarantino.jfif' %}" alt="No se encuntra">
    </div>
</body>
</html>
<br>
{% endblock %}